<div class="verses-container" (pointerup)="onTextSelection()">
  @for (verse of verses(); track verse.id) {
    <div
      class="verse-container"
      [class.selected]="selectedVerseNumbers().has(verse.verse)"
      (click)="onVerseClick($event, verse)"
    >
      <span [scrollTo]="versesToFocus().includes(verse.verse)">
        <span class="verse-number" id="verse-{{ verse.verse }}">
          {{ verse.verse }}
        </span>
        <span
          class="verse-text"
          [attr.data-verse-id]="verse.id"
        >
          @for (
            segment of verse.text | verseTextSegments: verse.verse : verse.highlights : searchTerm();
            track $index
          ) {
            @if (segment.highlightId) {
              <mark
                [attr.data-highlight-id]="segment.highlightId"
                [style.background-color]="segment.backgroundColor"
                [style.color]="segment.color"
              >
                @if (segment.searchMatch) {
                  <strong class="highlight">{{ segment.text }}</strong>
                } @else {
                  {{ segment.text }}
                }
              </mark>
            } @else if (segment.searchMatch) {
              <strong class="highlight">{{ segment.text }}</strong>
            } @else {
              {{ segment.text }}
            }
          }
        </span>
      </span>
      @for (note of verse.notes; track $index) {
        <span class="note-container">
          <ion-button class="note-button" (click)="onNoteClick($event, note)">
            <ion-icon name="document-text-outline" slot="icon-only"></ion-icon>
          </ion-button>
          @if (renderNotes()) {
            <span class="note">
              {{ note.content }}
            </span>
          }
        </span>
      }
    </div>
  }
</div>
