<app-page-header toolbarTitle="">
  @if(routeQueryParams()?.['verse']){
  <app-back-button toolbarButton></app-back-button>
  }
  <ion-button toolbarButton (click)="goBackToChapters()">{{routeData()?.['title']}}</ion-button>
  <ion-button toolbarEnd (click)="searchService.togglePopover(true)">
    <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
  </ion-button>

  <app-language-select toolbarEnd></app-language-select>
</app-page-header>
<ion-content
  class="ion-padding"
  appPageSwipe
  (swipeLeft)="navigateForward()"
  (swipeRight)="navigateBack()"
>
  @if (showFabs()) {
  <ion-fab
    slot="fixed"
    vertical="center"
    horizontal="start"
    (click)="navigateBack( { animated: false })"
  >
    <ion-fab-button color="dark">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
  <app-verse-reader
    [verses]="versesIncMetadata()"
    [selection]="selection()"
    [versesToFocus]="versesToFocus()"
    [searchTerm]="search()"
    (verseClick)="onVerseClick($event)"
    (textSelection)="onTextSelection($event)"
    (noteClick)="onNoteClick($event.event, $event.note)"
  >
  </app-verse-reader>
  @if (showFabs()) {
  <ion-fab
    slot="fixed"
    vertical="center"
    horizontal="end"
    (click)="navigateForward( { animated: false })"
  >
    <ion-fab-button color="dark">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  } @if (selection().targets.length) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button id="open-action-sheet" color="dark" (click)="onActionFabClick()">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>
