:host {
  display: flex;
  height: 100%;
  --ion-color-dark: rgb(244 245 248 / 85%);
}
h4 {
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
}
.verse-text-container {
  margin: auto;
  max-width: 500px;
  font-size: 1em;
  line-height: 2em;
}
.highlight {
  color: wheat;
  font-weight: bold;
}
.selected {
  text-decoration: underline;
}

.verse-number {
  padding-left: 2px;
}
.verse-text {
  padding-left: 2px;
  padding-right: 2px;
}

ion-button.note-button {
  margin: unset;
  margin-top: -12px;
  margin-left: 4px;
  min-height: unset;
  min-width: unset;
  --background: bisque;
  --padding-bottom: 2px;
  --padding-end: 2px;
  --padding-start: 2px;
  --padding-top: 2px;
}
