<app-page-header toolbarTitle="">
  <ion-button toolbarButton (click)="goBackToChapters()">{{routeData()?.['title']}}</ion-button>
  <ion-button toolbarEnd (click)="searchService.togglePopover(true)">
    <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
  </ion-button>

  <app-language-select toolbarEnd></app-language-select>
</app-page-header>
<ion-content class="ion-padding" appPageSwipe (swipeLeft)="navigateForward()" (swipeRight)="navigateBack()">
  <ion-fab slot="fixed" vertical="center" horizontal="start" (click)="navigateBack()">
    <ion-fab-button color="dark">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <p class="verse-text-container">
    @for (verse of verses.value(); track verse.id) {
      @let notes = getNotesForVerse(verse);
      @let color = $any(verse).color;
      <div class="verse-container"  [class.selected]="isSelected(verse)" (click)="onVerseClick(verse)">
        <span>
          <span 
          class="verse-number" 
          id="verse-{{ verse.verse }}" 
          [style.background]="color? getHighlightBackgroundColor(color) : ''"
          [style.color]="color? getHighlightTextColor(color) : ''" 
          >
          {{ verse.verse }}
        </span>
        <span
          class="verse-text"
          [class.highlight]="versesToFocus()?.includes(verse.verse)" 
          [innerHTML]="verse.text | highlightSearch: search()"
          [style.background]="color? getHighlightBackgroundColor(color) : ''"
          [style.color]="color? getHighlightTextColor(color) : ''">
        </span>
      </span>
        @for (note of notes; track $index) {
          <ion-button class="note-button" (click)="onNoteClick($event, note)">
            <ion-icon name="document-text-outline"  slot="icon-only"></ion-icon>
          </ion-button>
        }
      </div>
    }
  </p>
  <ion-fab slot="fixed" vertical="center" horizontal="end" (click)="navigateForward()">
    <ion-fab-button color="dark">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  @if (selectedVerses().length) {
    <ion-fab slot="fixed" vertical="bottom" horizontal="center">
      <ion-fab-button id="open-action-sheet" color="dark" (click)="onVerseFabClick()">
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
</ion-content>