<div class="verses-container">
  @for (verse of verses(); track verse.id) {
    @let color = $any(verse).color;
    <div
      class="verse-container"
      [class.selected]="selectedVerseIds().has(verse.id)"
      (click)="onVerseClick(verse)"
    >
      <span [scrollTo]="versesToFocus().includes(verse.verse)">
        <span class="verse-number" id="verse-{{ verse.verse }}" [highlightColor]="color">
          {{ verse.verse }}
        </span>
        <span
          class="verse-text"
          [innerHTML]="verse.text | highlightSearch: searchTerm()"
          [highlightColor]="color"
        >
        </span>
      </span>
      @for (note of verse.notes; track $index) {
        <div class="note-container">
          <ion-button class="note-button" (click)="onNoteClick($event, note)">
            <ion-icon name="document-text-outline" slot="icon-only"></ion-icon>
          </ion-button>
          @if (renderNotes()) {
            <span class="note">
              {{ note.content }}
            </span>
          }
        </div>
      }
    </div>
  }
</div>
