.verses-container {
  cursor: pointer;
  line-height: 2em;
  margin: auto;
  max-width: 500px;
}

.verse-number {
  padding-left: 2px;
}

.verse-text {
  padding-left: 2px;
  padding-right: 2px;
}

.note-container {
  display: flex;
  gap: 4px;
}

.note {
  font-size: 0.8em;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.selected {
  text-decoration: underline;
}

ion-button.note-button {
  margin: unset;
  min-height: unset;
  min-width: unset;
  --background: bisque;
  --padding-bottom: 2px;
  --padding-end: 2px;
  --padding-start: 2px;
  --padding-top: 2px;
}
