<app-page-header></app-page-header>
<ion-content>
  <ion-searchbar
    slot="fixed"
    color="light"
    placeholder="Rom 8 | God so loved"
    (ionInput)="onSearchInput($event)"
    [value]="searchService.searchTerm()"
  ></ion-searchbar>
  <div class="search-results">
    <div class="sort-container">
      <ion-segment [value]="searchService.sortOrder()" (ionChange)="onSortChange($event)">
        <ion-segment-button value="chronological">
          <ion-label>{{ TextKey.SortChronological | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="relevance">
          <ion-label>{{ TextKey.SortRelevance | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <app-search-results-list
      [results]="searchService.visibleSearchResults()"
      [searchTerm]="searchService.searchTerm()"
      [loading]="searchService.searchResults.isLoading()"
      (loadNextPage)="searchService.loadNextPage()"
    ></app-search-results-list>
  </div>
</ion-content>
