<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Biblesearch (prototype)</ion-list-header>
          <ion-note>Search engine for bible verses</ion-note>
          @for (page of appPages; track $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item
              detail="false"
              lines="none"
              routerDirection="root"
              routerLinkActive="selected"
              [routerLink]="[page.url]"
            >
              <ion-icon
                slot="start"
                [ios]="page.icon + '-outline'"
                [md]="page.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>
        @let recentRead = this.bookmarkService.recentRead();
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-list-header>Recent read</ion-list-header>
            @if(recentRead){
            <ion-item
              detail="false"
              lines="none"
              routerDirection="root"
              routerLinkActive="selected"
              [routerLink]="['/read', recentRead.book, recentRead.chapter]"
            >
              <ion-icon slot="start" ios="time-outline" md="time-sharp"></ion-icon>
              <ion-label>
                {{ recentRead.bookName }}
                {{ recentRead.chapter }}
              </ion-label>
            </ion-item>
            }
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-list-header>Bookmarks</ion-list-header>

            @for (bookmark of this.bookmarkService.bookmarks(); track $index) {
            <ion-item
              detail="false"
              lines="none"
              routerDirection="root"
              routerLinkActive="selected"
              [routerLink]="['/read', bookmark.book, bookmark.chapter]"
              [queryParams]="{ verse: bookmark?.verses?.join(',') }"
            >
              <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>
                {{ getBookmarkTitle(bookmark) }}
              </ion-label>
            </ion-item>
            }
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
