<app-page-header></app-page-header>
<ion-content>
  <ion-searchbar
    slot="fixed"
    color="light"
    placeholder="Rom 8 | God so loved"
    (ionInput)="onSearchInput($event)"
    [value]="searchService.searchTerm()"
  ></ion-searchbar>
  <div class="search-results">
    @if (searchService.searchResults.isLoading()) {
      <ion-spinner></ion-spinner>
    }
    <app-search-results-list
      [results]="searchService.searchResults.value()"
      [searchTerm]="searchService.searchTerm()"
    ></app-search-results-list>
  </div>
</ion-content>
