ion-list ion-item{
  cursor: pointer;
}

.search-results {
  margin-top: 48px;
}
.verse-header{
  display: flex;
  gap: 8px;
  /* justify-content: space-between; */
}
.search-results-count{
  padding-left: 8px;
}

.sort-container {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--ion-color-light-shade, #f4f5f8);
}

.sort-container ion-segment {
  max-width: 480px;
  width: 100%;
}
