ion-radio-group {
  display: flex;
  overflow-x: auto;
  width: 100%;
}
ion-radio-group div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 100%;
  padding-right: 8px;
  overflow-x: auto;
  width: 100%;
}

ion-radio {
  --border-width: 0.2rem;
}

ion-radio::part(container) {
  width: 2rem;
  height: 2rem;
}
ion-radio::part(mark) {
  width: 100%;
  height: 100%;
}

.red {
  --color: #f43545;
  --color-checked: #f43545;
}
.orange {
  --color: #fa8901;
  --color-checked: #fa8901;
}
.yellow {
  --color: #fad717;
  --color-checked: #fad717;
}
.green {
  --color: #00ba71;
  --color-checked: #00ba71;
}
.blue {
  --color: #00c2de;
  --color-checked: #00c2de;
}
.indigo {
  --color: #00418d;
  --color-checked: #00418d;
}
.violet {
  --color: #5f2879;
  --color-checked: #5f2879;
}
.white {
  --color: white;
  --color-checked: white;
}
.gray {
  --color: gray;
  --color-checked: gray;
}
.none {
  --color: none;
  --color-checked: none;
}
