ion-radio-group div{
  display: flex;
  gap: 8px;
  height: 100%;
  margin-right: 8px;
}

ion-radio::part(container) {
  width: 2rem;
  height: 2rem;
}
ion-radio::part(mark) {
  width: 100%;
  height: 100%;
}

.highlight-item-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.red {
  --color: #F43545;
  --color-checked: #F43545;
}
.orange {
  --color: #FA8901;
  --color-checked: #FA8901;
}
.yellow {
  --color: #FAD717;
  --color-checked: #FAD717;
}
.green {
  --color: #00BA71;
  --color-checked: #00BA71;
}
.blue {
  --color: #00C2DE;
  --color-checked: #00C2DE;
}
.indigo {
  --color: #00418D;
  --color-checked: #00418D;
}
.violet {
  --color: #5F2879;
  --color-checked: #5F2879;
}
.none{
  --color: none;  
  --color-checked: none;
}